[defaults]
display_args_to_stdout = False
interpreter_python = /usr/bin/python3
inventory = /opt/ansible/project/inventory/hosts.yml
log_path = /var/log/ansible.log
no_target_syslog = False
private_key_file = ./.ssh/ansible_key
remote_user = ansible
result_format = yaml
retry_files_enabled = False
roles_path = /opt/ansible/project/roles
stdout_callback = ansible.builtin.default
vault_password_file = .vault_pass

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=yes
