Name: Pwhistory password history checking
Default: yes
Priority: 1024
Password-Type: Additional
Password: requisite pam_pwhistory.so remember={{ pam_pwhistory_remember }}{% if pam_pwhistory_enforce_for_root %} enforce_for_root{% endif %} try_first_pass use_authtok
